server:
  port: 8081

spring:
  application:
    name: show-service

  datasource:
    url: jdbc:h2:mem:showdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  cache:
    type: simple   # Can be replaced with redis later

logging:
  level:
    org.hibernate.SQL: DEBUG
